<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="FinTech Automation Suite"
       parallel="classes"
       thread-count="3">

    <!-- Listeners must come before <test> -->
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <!-- Smoke Tests -->
    <test name="Smoke Tests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="tests.LoginOpenAccountTest"/>
            <class name="tests.TransferFundsTest"/>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
</suite>